.flashcard-info-container {
  margin-top: 20px;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  align-items: center;
  column-gap: 10px;
}
.flashcard-info-container p {
  margin-left: 10px;
}
.flashcard-delete-container {
  background-color: rgb(167, 46, 46);
  border-radius: 0 20px 20px 0;
  align-items: center;
  height: 100%;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

